<!-- For responsiveness -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse top-bar" id="bs-example-navbar-collapse-1">
    <!-- <ul class="nav navbar-nav"> -->
        <!-- <li> -->
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-lg btn-secondary btn-block"><a href="/">Home</a></button>
          </div>
        <!-- </li> -->
        <!-- <li> -->
        <div class="col-md-3">
            <button class="btn btn-lg btn-secondary btn-block"><a href="/dealership/category/make">Makes</a></button>
        </div>

        <!-- </li> -->
        <!-- <li> -->
        <div class="col-md-3">
            <button class="btn btn-lg btn-secondary btn-block"><a href="blog.html">Models</a></button>
        </div>

        <!-- </li> -->
        <!-- <li> -->
        <div class="col-md-3">
            <button class="btn btn-lg btn-secondary btn-block"><a href="contact.html">My Portfolio</a></button>
        </div>

        <!-- </li> -->
      </div>
    <!-- </ul> -->
</div>

<!-- this will display a different background for each chosen category's body page, this one should eventually
be in the category helper -->
<% case @cat.id %>
  <% when 1 %>
    <body id="case-1-background">
  <% when 2 %>
    <body id="case-2-background">
  <% when 3 %>
    <body id="case-3-background">
  <% when 4 %>
    <body id="case-4-background">

<% end %>




<div class="make-selector">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="row">
              <% @remove_dup.each do |make| %>
                <div class="col-md-4">
                  <button class="btn btn-lg btn-secondary btn-block"> <%=link_to make.name.capitalize, make_index_path(make_name: make.name) %> </button>
                </div>

                <% end %>
          </div>
        <!-- /.navbar-collapse -->
        </div>
    <!-- /.container -->
    </div>
  </div>
