<h1> This is the category index.  Here will be 4 categories </h1>
<% id = 1 %>
<% @categories.each do |cat| %>
  <%= link_to cat.name, dealership_category_path(cat_id: id) %>
  <% id += 1 %>
<% end %>
