<h1>Here will be one car</h1>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
        <li>
            <a href="blog.html">Blog</a>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
    </ul>
</div>

<%= @models.name %>

<% case @models.model_id %>
  <% when 1 %>
    <img class="car-display" id="s8-plus">
  <% when 2 %>
    <img class="car-display" id="rs-7">
  <% when 3 %>
    <img class="car-display" id="s7">
  <% when 4 %>
    <img class="car-display" id="amg-s65">
  <% when 5 %>
    <img class="car-display" id="amg-s63">
  <% when 6 %>
    <img class="car-display" id="s600">
  <% when 7 %>
    <img class="car-display" id="ls-hybrid">
  <% when 8 %>
    <img class="car-display" id="ls">
  <% when 9 %>
    <img class="car-display" id="gsf">
  <% when 10 %>
    <img class="car-display" id="sv-autobiography">
  <% when 11 %>
    <img class="car-display" id="supercharged">
  <% when 12 %>
    <img class="car-display" id="hse">
  <% when 13 %>
    <img class="car-display" id="x6-m">
  <% when 14 %>
    <img class="car-display" id="x5-m">
  <% when 15 %>
    <img class="car-display" id="x4-m40i">
  <% when 16 %>
    <img class="car-display" id="cayenne-turbo-s">
  <% when 17 %>
    <img class="car-display" id="cayenne-turbo">
  <% when 18 %>
    <img class="car-display" id="macan">
  <% when 19 %>
    <img class="car-display" id="california">
  <% when 20 %>
    <img class="car-display" id="gtb-488-gtb">
  <% when 21 %>
    <img class="car-display" id="la-ferrari">
  <% when 22 %>
    <img class="car-display" id="veneno-roadster">
  <% when 23 %>
    <img class="car-display" id="aventador-superveloce-roadster">
  <% when 24 %>
    <img class="car-display" id="huracan">
  <% when 25 %>
    <img class="car-display" id="veyron-16-4">
  <% when 26 %>
    <img class="car-display" id="veyron-16-4-grand-sport">
  <% when 27 %>
    <img class="car-display" id="veyron-16-4-grand-sport-vitesse">
  <% when 28 %>
    <img class="car-display" id="ghost">
  <% when 29 %>
    <img class="car-display" id="phantom">
  <% when 30 %>
    <img class="car-display" id="wraith">
  <% when 31 %>
    <img class="car-display" id="mulsanne">
  <% when 32 %>
    <img class="car-display" id="continental-gt3r">
  <% when 33 %>
    <img class="car-display" id="flying-spur">
  <% when 34 %>
    <img class="car-display" id="db9-volante">
  <% when 35 %>
    <img class="car-display" id="vanquish-carbon-edition">
  <% when 36 %>
    <img class="car-display" id="rapide-s">


<div id="car-description"> </div>
 <%end %>
<div id="car-display"> <%#= image-tag @models.image %> </div>
<div id="car-description"> </div>
