<!-- For responsiveness -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<div class="container-fluid">
<div id="background">
  <%= image_tag ("gold.jpg") %>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse top-bar" id="bs-example-navbar-collapse-1">
    <!-- <ul class="nav navbar-nav"> -->
        <!-- <li> -->
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-lg btn-secondary btn-block"><a href="/">Home</a></button>
          </div>
        <!-- </li> -->
        <!-- <li> -->
        <div class="col-md-3">
            <button class="btn btn-lg btn-secondary btn-block"><a href="/dealership/category/make">Makes</a></button>
        </div>

        <!-- </li> -->
        <!-- <li> -->
        <div class="col-md-3">
            <button class="btn btn-lg btn-secondary btn-block"><a href="blog.html">Models</a></button>
        </div>

        <!-- </li> -->
        <!-- <li> -->
        <div class="col-md-3">
            <button class="btn btn-lg btn-secondary btn-block"><a href="contact.html">My Portfolio</a></button>
        </div>

        <!-- </li> -->
      </div>
    <!-- </ul> -->
</div>


<p id="model-name"> <%= @models.name %> </p>

<div>
  <% case @models.model_id %>
    <% when 1 %>
    <%= image_tag ("audi_s8_plus.jpeg"), :class=>"car-display" %>
      <!-- <img class="car-display" id="s8-plus"> -->
      <div id="car-description">CASE 1 DESCRIPTION </div>
    <% when 2 %>
      <%= image_tag ("audi_s7.jpeg"), :class=>"car-display" %>
      <!-- <img class="car-display" id="rs-7"> -->
      <div id="car-description">CASE 2 DESCRIPTION </div>
    <% when 3 %>
      <img class="car-display" id="s7">
      <div id="car-description">CASE 3 DESCRIPTION </div>
    <% when 4 %>
      <img class="car-display" id="amg-s65">
      <div id="car-description">CASE 4 DESCRIPTION </div>
    <% when 5 %>
      <img class="car-display" id="amg-s63">
      <div id="car-description">CASE 5 DESCRIPTION </div>
    <% when 6 %>
      <img class="car-display" id="s600">
      <div id="car-description">CASE 6 DESCRIPTION </div>
    <% when 7 %>
      <img class="car-display" id="ls-hybrid">
      <div id="car-description">CASE 7 DESCRIPTION </div>
    <% when 8 %>
      <img class="car-display" id="ls">
      <div id="car-description">CASE 8 DESCRIPTION </div>
    <% when 9 %>
      <img class="car-display" id="gsf">
      <div id="car-description">CASE 9 DESCRIPTION </div>
    <% when 10 %>
      <img class="car-display" id="sv-autobiography">
      <div id="car-description">CASE 10 DESCRIPTION </div>
    <% when 11 %>
      <img class="car-display" id="supercharged">
      <div id="car-description">CASE 11 DESCRIPTION </div>
    <% when 12 %>
      <img class="car-display" id="hse">
      <div id="car-description">CASE 12 DESCRIPTION </div>
    <% when 13 %>
      <img class="car-display" id="x6-m">
      <div id="car-description">CASE 13 DESCRIPTION </div>
    <% when 14 %>
      <img class="car-display" id="x5-m">
      <div id="car-description">CASE 14 DESCRIPTION </div>
    <% when 15 %>
      <img class="car-display" id="x4-m40i">
      <div id="car-description">CASE 15 DESCRIPTION </div>
    <% when 16 %>
      <img class="car-display" id="cayenne-turbo-s">
      <div id="car-description">CASE 16 DESCRIPTION </div>
    <% when 17 %>
      <img class="car-display" id="cayenne-turbo">
      <div id="car-description">CASE 17 DESCRIPTION </div>
    <% when 18 %>
      <img class="car-display" id="macan">
      <div id="car-description">CASE 18 DESCRIPTION </div>
    <% when 19 %>
      <img class="car-display" id="california">
      <div id="car-description">CASE 19 DESCRIPTION </div>
    <% when 20 %>
      <img class="car-display" id="gtb-488-gtb">
      <div id="car-description">CASE 20 DESCRIPTION </div>
    <% when 21 %>
      <img class="car-display" id="la-ferrari">
      <div id="car-description">CASE 21 DESCRIPTION </div>
    <% when 22 %>
      <img class="car-display" id="veneno-roadster">
      <div id="car-description">CASE 22 DESCRIPTION </div>
    <% when 23 %>
      <img class="car-display" id="aventador-superveloce-roadster">
      <div id="car-description">CASE 23 DESCRIPTION </div>
    <% when 24 %>
      <img class="car-display" id="huracan">
      <div id="car-description">CASE 24 DESCRIPTION </div>
    <% when 25 %>
      <img class="car-display" id="veyron-16-4">
      <div id="car-description">CASE 25 DESCRIPTION </div>
    <% when 26 %>
      <img class="car-display" id="veyron-16-4-grand-sport">
      <div id="car-description">CASE 26 DESCRIPTION </div>
    <% when 27 %>
      <img class="car-display" id="veyron-16-4-grand-sport-vitesse">
      <div id="car-description">CASE 27 DESCRIPTION </div>
    <% when 28 %>
      <img class="car-display" id="ghost">
      <div id="car-description">CASE 28 DESCRIPTION </div>
    <% when 29 %>
      <img class="car-display" id="phantom">
      <div id="car-description">CASE 29 DESCRIPTION </div>
    <% when 30 %>
      <img class="car-display" id="wraith">
      <div id="car-description">CASE 30 DESCRIPTION </div>
    <% when 31 %>
      <img class="car-display" id="mulsanne">
      <div id="car-description">CASE 31 DESCRIPTION </div>
    <% when 32 %>
      <img class="car-display" id="continental-gt3r">
      <div id="car-description">CASE 32 DESCRIPTION </div>
    <% when 33 %>
      <img class="car-display" id="flying-spur">
      <div id="car-description">CASE 33 DESCRIPTION </div>
    <% when 34 %>
      <img class="car-display" id="db9-volante">
      <div id="car-description">CASE 34 DESCRIPTION </div>
    <% when 35 %>
      <img class="car-display" id="vanquish-carbon-edition">
      <div id="car-description">CASE 35 DESCRIPTION </div>
    <% when 36 %>
      <img class="car-display" id="rapide-s">
      <div id="car-description">CASE 36 DESCRIPTION </div>

 <%end %>


 </div>

<!-- <div id="car-display"> <%#= image-tag @models.image %> </div> -->
</div>
