<!-- For responsiveness -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<h1> Please choose a car model </h1>
<!-- Collect the nav links, forms, and other content for toggling -->
<!-- The line below calls the partial from layouts, it contains the top line of buttons -->
<%= render "layouts/partial" %>



<!-- Present a different background for each chosen make's body page -->
<% case @make.name %>
  <% when "Audi" %>
    <body class="make-background" id="audi-background">
  <% when "Mercedes" %>
    <body class="make-background" id="mercedes-background">
  <% when "Lexus" %>
    <body class="make-background" id="lexus-background">
  <% when "Land Rover" %>
    <body class="make-background" id="land-rover-background">
  <% when "Bmw" %>
    <body class="make-background" id="bmw-background">
  <% when "Porsche" %>
    <body class="make-background" id="porsche-background">
  <% when "Ferrari" %>
    <body class="make-background" id="ferrari-background">
  <% when "Lamborghini" %>
    <body class="make-background" id="lamborghini-background">
  <% when "Bugatti" %>
    <body class="make-background" id="bugatti-background">
  <% when "Rolls Roys" %>
    <body class="make-background" id="rolls-roys-background">
  <% when "Bentley" %>
    <body class="make-background" id="bentley-background">
  <% when "Aston Martin" %>
    <body class="make-background" id="aston-martin-background">

<% end %>


<div class="make-selector">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="row">
                  <% @make_models.each do |model| %>
                  <div class="col-md-4">
                    <button class="btn btn-lg btn-secondary btn-block">
                      <%= link_to model.name, model%>
                    </button>
                  </div>
                  <% end %>
          </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>
