<p> Welcome to the dealership</p>
<%= link_to "sedan", "dealerships/sedans" {controller: "cars", action: "type", type: "sedan"} %>
<%= link_to "suv", {controller: "cars", action: "type", type: "suv"} %>
<%= link_to "super_sport", {controller: "cars", action: "type", type: "super_sport"} %>
<%= link_to "super_saloon", {controller: "cars", action: "type", type: "super_saloon"} %>
