// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#categoryIndexBackground {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*background: url('../img/bg.jpg') no-repeat center center fixed;*/
  background-image: url("https://s3.amazonaws.com/renansbucket/speed-background.jpg?X-Amz-Date=20160320T143635Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=15f48813aabb4d2d676d9ecde52595b0dd3016e44e41d3c5ab5b403614495e96&X-Amz-Credential=ASIAIUHQBHJ7UO5YBKWA/20160320/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM7//////////wEakAJNjEKesEVRSevUirdwsaxzCDAsaTOpqDRKG5gycRspI1hLtH6LEKKFPFHQq/6FaDKbaDRPrTIP4nXctjLE309iZaXZqIwkbRn7W56aPuP2yVqdweCMQTxKechf/AvQL08BfCMMqCdc3XpI0niyiDh02HijL9QE5ex3fQL7HFvSksRtkO24ZuKkTa5l1Cn9PL6o4VXox3hXLwUFd4ikPEz51bbzwT06HHf76qe9%2BeuPWcTfbHEpJjaFkZqbWcr9OnMqeqxu74pM7LVR3FaL%2BmkFYTmk6qX2plKpPhATF95%2B03SL0BIZixBA%2BowtQWZcFzYFi1nPFKFXWQNT7EWDiF2DvW/9BeOgSIdJawIGb9YnaiDa2bi3BQ%3D%3D");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size:100% 100%;
}

// ADJUST THE SIZE OF THE IMAGES TO THE SCREEN
#case-1-background{
  background-image: url("https://s3.amazonaws.com/renansbucket/sedan-background.jpg?X-Amz-Date=20160320T144647Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=8dbb1bba5c7654e13abf3b47a6db9e1e4a112de972941599262a7fdb77abdbcb&X-Amz-Credential=ASIAIUHQBHJ7UO5YBKWA/20160320/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM7//////////wEakAJNjEKesEVRSevUirdwsaxzCDAsaTOpqDRKG5gycRspI1hLtH6LEKKFPFHQq/6FaDKbaDRPrTIP4nXctjLE309iZaXZqIwkbRn7W56aPuP2yVqdweCMQTxKechf/AvQL08BfCMMqCdc3XpI0niyiDh02HijL9QE5ex3fQL7HFvSksRtkO24ZuKkTa5l1Cn9PL6o4VXox3hXLwUFd4ikPEz51bbzwT06HHf76qe9%2BeuPWcTfbHEpJjaFkZqbWcr9OnMqeqxu74pM7LVR3FaL%2BmkFYTmk6qX2plKpPhATF95%2B03SL0BIZixBA%2BowtQWZcFzYFi1nPFKFXWQNT7EWDiF2DvW/9BeOgSIdJawIGb9YnaiDa2bi3BQ%3D%3D");
  background-size:100% 100%;
}

#case-2-background{
  background-image: url("https://s3.amazonaws.com/renansbucket/terrain_3.jpg?X-Amz-Date=20160320T144842Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=27f4e0f4fcb8b81e9a19230be5d9749a910f1cf9409cdf7bb22db7fde4ee9a0e&X-Amz-Credential=ASIAIUHQBHJ7UO5YBKWA/20160320/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM7//////////wEakAJNjEKesEVRSevUirdwsaxzCDAsaTOpqDRKG5gycRspI1hLtH6LEKKFPFHQq/6FaDKbaDRPrTIP4nXctjLE309iZaXZqIwkbRn7W56aPuP2yVqdweCMQTxKechf/AvQL08BfCMMqCdc3XpI0niyiDh02HijL9QE5ex3fQL7HFvSksRtkO24ZuKkTa5l1Cn9PL6o4VXox3hXLwUFd4ikPEz51bbzwT06HHf76qe9%2BeuPWcTfbHEpJjaFkZqbWcr9OnMqeqxu74pM7LVR3FaL%2BmkFYTmk6qX2plKpPhATF95%2B03SL0BIZixBA%2BowtQWZcFzYFi1nPFKFXWQNT7EWDiF2DvW/9BeOgSIdJawIGb9YnaiDa2bi3BQ%3D%3D");
  background-size:100% 100%;
}

#case-3-background{
  background-image: url("super-sport-background.jpg");
  background-size:100% 100%;
}

#case-4-background{
  background-image: url("super-saloon-background.jpg");
  background-size:100% 100%;
}
