// Place all the styles related to the make controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#audi-background {
  background-image: url("https://s3.amazonaws.com/railscars/audi-background.png");
  background-size:100% 100%;
}

#mercedes-background {
  background-image: url("https://s3.amazonaws.com/railscars/mercedes-background.jpg");
  background-size:100% 100%;
}

#lexus-background {
  background-image: url("https://s3.amazonaws.com/railscars/lexus-background.jpg");
  background-size:100% 100%;
}

#land-rover-background {
  background-image: url("https://s3.amazonaws.com/railscars/land-rover-background.jpg");
  background-size:100% 100%;
}

#bmw-background {
  background-image: url("https://s3.amazonaws.com/railscars/bmw-background.jpg");
  background-size:100% 100%;
}

#ferrari-background {
  background-image: url("https://s3.amazonaws.com/railscars/ferrari-background.jpg");
  background-size:100% 100%;
}

#porsche-background {
  background-image: url("https://s3.amazonaws.com/railscars/porsche-background.jpg");
  background-size:100% 100%;
}

#lamborghini-background {
  background-image: url("https://s3.amazonaws.com/railscars/lamborghini-background.jpg");
  background-size:100% 100%;
}

#bugatti-background {
  background-image: url("https://s3.amazonaws.com/railscars/bugatti-background.jpg");
  background-size:100% 100%;
}

#rolls-roys-background {
  background-image: url("https://s3.amazonaws.com/railscars/rolls-roys-background.jpg");
  background-size:100% 100%;
}

#bentley-background {
  background-image: url("https://s3.amazonaws.com/railscars/bentley-background.jpg");
  background-size:100% 100%;
}

#aston-martin-background {
  background-image: url("https://s3.amazonaws.com/railscars/aston-martin-background.jpg");
  background-size:100% 100%;
}
