// Place all the styles related to the model controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#s8-plus{
  content: url("https://s3.amazonaws.com/railscars/audi-s8-plus.jpeg")
}

#rs-7{
  content: url("https://s3.amazonaws.com/railscars/audi-rs7.jpeg");
}

#s7{
  content: url("https://s3.amazonaws.com/railscars/audi-s7.jpeg");
}

#amg-s65{
  content: url("https://s3.amazonaws.com/railscars/mercedes-amg-s65.jpg");
}

#amg-s63{
  content: url("https://s3.amazonaws.com/railscars/mercedes-amg-s63.jpg");
}

#s600{
  content: url("https://s3.amazonaws.com/railscars/mercedes-s600.jpg");
}

#ls-hybrid{
  content: url("https://s3.amazonaws.com/railscars/lexus-ls-hybrid.jpg");
}

#ls{
  content: url("https://s3.amazonaws.com/railscars/lexus-ls.jpg");
}

#gsf{
  content: url("https://s3.amazonaws.com/railscars/lexus-gsf.jpg");
}

#sv-autobiography{
  content: url("https://s3.amazonaws.com/railscars/land-rover-sv-autobiography.png");
}

#supercharged{
  content: url("https://s3.amazonaws.com/railscars/land-rover-supercharged.png");
}

#hse{
  content: url("https://s3.amazonaws.com/railscars/land-rover-hse.png");
}

#x6-m{
  content: url("https://s3.amazonaws.com/railscars/bmw-x6M.png")
}

#x5-m{
  content: url("https://s3.amazonaws.com/railscars/bmw-x5M.jpg");
}

#x4-m40i{
  content: url("https://s3.amazonaws.com/railscars/bmw-x4-m40i.jpg");
}

#cayenne-turbo-s{
  content: url("https://s3.amazonaws.com/railscars/porsche-cayenne-turbo-s.jpeg");
}

#cayenne-turbo{
  content: url("https://s3.amazonaws.com/railscars/porsche-cayenne-turbo.jpeg");
}

#macan{
  content: url("https://s3.amazonaws.com/railscars/porsche-macan.jpeg");
}

#california{
  content: url("");
}

#gtb-488-gtb{
  content: url("");
}

#la-ferrari{
  content: url("");
}

#veneno-roadster{
  content: url("");
}

#aventador-superveloce-roadster{
  content: url("");
}

#huracan{
  content: url("");
}

#veyron-16-4{
  content: url("");
}

#veyron-16-4-grand-sport{
  content: url("");
}

#veyron-16-4-grand-sport-vitesse{
  content: url("");
}

#{
  content: url("");
}

#{
  content: url("");
}

#{
  content: url("");
}

#{
  content: url("");
}

#{
  content: url("");
}

#{
  content: url("");
}

#{
  content: url("");
}

#{
  content: url("");
}

#{
  content: url("");
}

.car-display{
  height: auto;
  width: auto;
  max-width: 60%;
  max-height: 60%;
}

#car-description{
}
