// Place all the styles related to the model controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#s8_plus{
  content: url("https://s3.amazonaws.com/railscars/audi_s8_plus.jpeg")
}

#rs_7_2016{
  content: url("https://s3.amazonaws.com/railscars/audi_rs7.jpeg");
}

#s7_2016{
  content: url("https://s3.amazonaws.com/railscars/audi_s7.jpeg");
}

#amg_s65_2016{
  content: url("https://s3.amazonaws.com/railscars/mercedes_amg_s65.jpg");
}

#amg_s63_2016{
  content: url("https://s3.amazonaws.com/railscars/mercedes_amg_s63.jpg");
}

#s600_2016{
  content: url("https://s3.amazonaws.com/railscars/mercedes_s600.jpg");
}

#ls_hybrid_2016{
  content: url("https://s3.amazonaws.com/railscars/lexus_ls_hybrid.jpg");
}

#ls_2016{
  content: url("https://s3.amazonaws.com/railscars/lexus_ls.jpg");
}

#gsf_2016{
  content: url("https://s3.amazonaws.com/railscars/lexus_gsf.jpg");
}

#sv_autobiography_2016{
  content: url("https://s3.amazonaws.com/railscars/land_rover_sv_autobiography.png");
}

#supercharged_2016{
  content: url("https://s3.amazonaws.com/railscars/land_rover_supercharged.png");
}

#hse_2016{
  content: url("https://s3.amazonaws.com/railscars/land_rover_hse.png");
}

#x6_m_2016{
  content: url("./assets/images/bmw_x6M.png")
}

#x5_m_2016{
  content: url("bmw_x6M.png");
}
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
//
.car-display{
  width: 40%;
}

#car-description{
}
