// Place all the styles related to the model controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#s8_plus{
  content: url("https://s3.amazonaws.com/renansbucket/audi_s8_plus.jpeg")
}

#rs_7_2016{
  content: url("https://s3.amazonaws.com/renansbucket/audi_rs7.jpeg");
}

#s7_2016{
  content: url("https://s3.amazonaws.com/renansbucket/audi_s7.jpeg");
}

#amg_s65_2016{
  content: url("https://s3.amazonaws.com/renansbucket/mercedes_amg_s65.jpg");
}

#amg_s63_2016{
  content: url("https://s3.amazonaws.com/renansbucket/mercedes_amg_s63.png");
}

#s600_2016{
  content: url("https://s3.amazonaws.com/renansbucket/mercedes_s600.jpg");
}

// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
// #{
//   content: url("");
// }
//
.car-display{
  width: 40%;
}

#car-description{
}
